/* CV_estilos.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('IMAGEN_FONDO_CV.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: black;
  }
  
  header {
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  section {
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente blanco para mejorar la legibilidad */
    padding: 20px;
    border-radius: 10px;
  }
  h2.Resumen {
    text-align: center;
}
  h1, h2, h3 {
    color: rgb(0, 195, 255);
  }
  
  p {
    margin-bottom: 10px;
  }
  
  .resumen img {
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .educacion, .cursos, .experiencia, .idiomas, .skills {
    margin-bottom: 20px;
  }
  
  .educacion h2, .cursos h2, .experiencia h2, .idiomas h2, .skills h2 {
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
    margin-right: 40px; /* O ajusta según sea necesario */
}
h1 {
	font-size:19px;
	color:#2F5A78;
	text-transform: uppercase;
	text-shadow: 2px, 3px,2px,black
}
#position {
	font-size: 18px
}

.summary {
	font-size: 16px;
	line-height: 20px
}
h2 {
	font-size: 20px
}
body {
	font-family: arial; verdana
}
#position {
	font-size: 18px;
	font-weight: 900; bold
}
#copyright {
	text-align: center;
	text-transform: uppercase
	
	
}
footer a {
  color: #e99f4b;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
body {
  font-family: Arial;
  margin-top: 100px;
}
header {
  text-align: center;
  background-color: #eeeeee;
  padding-top: 2px;
  padding-bottom: 2px;
  position: fixed;
  top: 0;
  left 0;
  width: 100%;
} 
.summary img {
 float: right;
} 
summary img {
  float: right;
  transition: transform 1s ease; 
}
.summary img:hover {
  transform: scale(1.3);
}
  